:root{
  --size:500px;
  --bodycolor: #396;
  --bordcolor: #393;
}


body{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--bodycolor);
  height: 100vh;
}

#tarn{
  flex-grow: 1;
  padding-left:50px;
}
#tarn #next-color,#tarn #before-stones li{
  cursor: pointer;
  display: flex;
    align-items: center;
  background: radial-gradient(rgb(165, 255, 165),rgb(255, 255, 255));
    height: 50px;
    box-shadow: 5px 5px 10px rgb(49, 72, 49);
  margin-bottom: 10px;
  padding-left: 15px;
  transition: 1s ease-in-out;
}
#tarn li:hover{
  transform:translateX(1px) translatey(1px) scale(0.99) ;
  box-shadow: none;
  transition: 1s ease-in-out;
}
#tarn #next-color div,#tarn #before-stones div{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(0,0,0);
  margin: 0 10px;
} 

.b ,.nextcolorb .r:hover{
  background: radial-gradient(rgb(55, 55, 55),rgb(0, 0, 0),rgb(0, 0, 0));
  color: white;
}
.w,.nextcolorw .r:hover{
  background: radial-gradient(rgb(215, 215, 215),rgb(250, 250, 250),rgb(255, 255, 255));
  color: black;
}
li .r{
  cursor: pointer;
  background: radial-gradient(rgb(35, 245, 45),rgb(20, 155, 20));
  transition: 0.8s ;
}
.r:hover{
  scale: 0.9;
  transition: 1s ;
}

#bord{
  display: flex;
    align-items: center;
    justify-content: center;

  background-color: rgb(45, 80, 36);
    width: var(--size);
    height:var(--size);
    border: solid  var(--bordcolor) 15px;
    box-shadow: 0 0 10px rgb(30, 50, 20);
  margin: 0 auto;
  padding: 1px;
}
#masu{
  display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
  width: 98%;
  height: 98%;
}
#masu li{
  list-style: none;
  display: flex;
    justify-content: center;
    align-items: center;
  background-color: var(--bordcolor);
  padding: 10%;
}
#masu li div{
  display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgb(12, 98, 12) ;
}


.start {
  display: none;
}

@media screen and (max-width :750px){
  :root{
    --size:90vw;
  }
  body{
    flex-direction: column-reverse;
  }
  #bord{
    margin: auto ;
  }
  #menubar{
    position: relative;
    z-index: 5;
      margin: 15px 0 15px auto;
    background: radial-gradient(rgb(177, 177, 177),rgb(255, 255, 255));
      width: 50px;
      height: 50px;
      border-radius: 20%;
  }
  #menubar span{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 1s;
    width: 50%;
    height: 1px;
    background-color: #1e1e1e;
  }
  #menubar span:nth-child(1){
    top: 25%;
  }
  #menubar span:nth-child(2){
    top: 50%;
  }
  #menubar span:nth-child(3){
    top: 75%;
  }
  .notmenu #menubar span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
  }
  .notmenu #menubar span:nth-child(2){
    scale: 0;
  }
  .notmenu #menubar span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
  }


  #tarn{
    position: absolute;
    top: 25px;
    padding-right: 10%;
    width: var(--size);
    z-index: 1;
  }
  .menuon #tarn #before-stones{
    display: none;
  }
}  
